# INTRODUCTION TO PYTON
##



###### introduction to pyton

In [4]:
# writting my first pyton code
print("hello world!, i am learning to code in pyton")

hello world!, i am learning to code in pyton

# variable and identifier in pyton
variable is any object that occupy space on computer memory,
while identifier is used to identify variable store on computer memory

In [12]:
name = "olaitan"

In [13]:
print(name)

olaitan

In [ ]:
# Rules for naming identifier/variable
1. variable name cant not start with a number, thou,number can be find in any other place
2. any special characters can not be use in variable name,except underscore
3. wide space can not be used to join variable names,use under score instend
4. variable need to be discriptive
5. the pyton reserverd keywords can not be use as variable name

In [14]:
first_name = "olatunde"
last_name = "shele"
age = 12
state = "lagos state"
print("my name is ", first_name, last_name,"and i am", age, "years old", "from", state)

my name is  olatunde shele and i am 12 years old from lagos state

In [15]:
first_name = input(" please enter your first name ")
last_name = input(" please enter your last name ")
age = input(" what is your current age ")
state = input (" what state are you from")
print("my name is ", first_name, last_name,"and i am", age, "years old", "from", state)

 please enter your first name olatunde
 please enter your last name shele
 what is your current age 12
 what state are you fromlagos state
my name is  olatunde shele and i am 12 years old from lagos state

In [ ]:
# take two numbers from a user then sum up the numbers
num1 = int (input ("enter the first number   ")  )
num2 = int (input ("enter the second number  ")  )
total = num1 + num2
print("the sum of number entered is ", total)

In [ ]:
# Addition

a = 2
b = 3
c = a+b
print(c)

In [ ]:
# subtraction (-)

a = 7
b = 3
c = a

In [1]:
# logical
#0r / and
(2 > 5) and (7 < 10)

False

In [ ]:
1 (2 > 5) and (7 < 10)

DATATYPE IN PYTHON

immutable: can not be modify after declearation
-number
- str
- tuple

mutable:this are data that can be modify after declaration
-list
-set
- dictionary

In [ ]:
1 num1 = 928 # this is int
num2 = 398.739 # this is float
num3  = 8 + 7j # this is  complex

In [ ]:
name = "olaitan"
name = 'olaitan'
name = """you mu"""

In [ ]:
indexing this a process of getting access to character in astring
slicing this is the process of getting access to character with a string

In [2]:
#return 0 from olaitan
name = "olaitan"
name[0] # forward indexing

'o'

In [ ]:
1 name [-7] # backward indexing

In [3]:
name = "olaitan"
name[3]

'i'

In [4]:
name = "olaitan"
name[-3]

't'

In [6]:
name = "olaitan"
# return "ai" from the above
name[2:4]

'ai'

In [15]:


#return 'fun' in str below

info = "python is fun to learn"
info[10:13]

'fun'

In [ ]:
info name"python is fun to learn"
info[10:13]

In [16]:
# return # "ph no"
info [0:16:3]

'ph  no'

In [14]:
x

NameError: name 'x' is not defined

NameError: name 'x' is not defined

    # tuple

In [ ]:
# tuple
tup = () # empty tuple

In [10]:
tup1 = (1,5,8, "ola","james", "lion")
tup1[3]

'ola'

In [15]:
tup1[1:5]

(5, 8, 'ola', 'james')

# set in python

In [19]:
# set
set1 = {} # an empty set
set2 = {2,5,7,2}
print(set2) set does not accept 2 duplicate number

{2, 5, 7}

# dictionary: it has key and value peer reletionship

In [23]:
# dictionary
dic = {"name": "olitan", "age":12, "address": "olowoira"} 
print(dic)

{'name': 'olitan', 'age': 12, 'address': 'olowoira'}

In [25]:
# print olowoira from the dictionary above
dic["address"]

'olowoira'

In [ ]:
# adding new element to dictionary
dic["salary"]= 83938
print(dic)

# removing element from dictionary

dic.pop("age")

In [38]:
dic.pop("age")

KeyError: 'age'

# dictionary of list

In [40]:
dic = {"name":["olaitan", "james", "sacho", "onana"],
       "age":[12, 33, 71, 23],
       "address": ["olowoira", "berger", "ikeja", "ikorodu"]}
print(dic)

{'name': ['olaitan', 'james', 'sacho', 'onana'], 'age': [12, 33, 71, 23], 'address': ['olowoira', 'berger', 'ikeja', 'ikorodu']}

# change berger to arepo

In [50]:
dic ["address"][1]="arepo"
print(dic) check the index of berger which is 1

{'name': ['olaitan', 'james', 'sacho', 'onana'], 'age': [12, 33, 71, 23], 'address': ['olowoira', 'arepo', 'ikeja', 'ikorodu']}

# control flow in python
control code is order at which python code is been executed

1. conditional statement
    a. if:this will check for a condition, if the condition is met,any thing u have in the block of "if" will be excuted else  nothing will be done.
    b. else:else is bassically use if "if" condition is not met
    c. elif:it is use to state condition
2.  loop statement
    a. for:it is use to iterate over iteratable element
    b. while:
3.  loop control statement
    a. break
    b. countinue
4.  Error handling
    a. try
    b. except
    c. finally

In [51]:
a = 3
if a<9:
    print("we are good to go")
    name = input("what is your name")
    print("will you like i generate nickname from your name")

we are good to go
what is your nameola
will you like i generate nickname from your name

In [52]:
a = 33
if a<9:
    print("we are good to go")
    name = input("what is your name")
    print("will you like i generate nickname from your name")
else:
    print("some set of people must have gone!!!")
    y = 7
    u = 10
    total = y + u
    print("since the condition is not met, the sum is {}", format(total))

some set of people must have gone!!!
since the condition is not met, the sum is {} 17

In [53]:
w = 10
if w>5:
    print("we are in the block of if")

elif w==10:
    print("we are in the block of elif")
    
else:
    print("we are in the block of else")

we are in the block of if

In [54]:
# for loop
name = "olaitan"
for i in name:
    print(i)

o
l
a
i
t
a
n

In [59]:
all_population = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

odd_population = []
even_population = []
for j in all_population:
    if j%2==0:
        even_population.append(j)
    else:
        odd_population.append(j)

In [61]:
odd_population

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [62]:
even_population

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [68]:
a = 0
while a<=7:
        print("inside while loop {} time".format(a))
        a+=1                                                        this is while loop

inside while loop 0 time
inside while loop 1 time
inside while loop 2 time
inside while loop 3 time
inside while loop 4 time
inside while loop 5 time
inside while loop 6 time
inside while loop 7 time

In [ ]:
t = 4
while True:
    if t<=8:
        print("we are good")
        t+=1

we are good
we are good
we are good
we are good
we are good